<!DOCTYPE html>
<div class="wrapper">
  <!--   <mat-sidenav-container>
    <mat-sidenav opened mode="side" position="start"> -->

  <div class="left-data">
    <mat-card style="padding-bottom: 0;">
      <label>Basic Damage Info:</label>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Choose Number of Attacks!</mat-label>
          <mat-select [(value)]="numberofAttacksHTML">
            <!-- <mat-option>None</mat-option> -->
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="6">6</mat-option>
            <mat-option [value]="15">15</mat-option>
          </mat-select>
        </mat-form-field>

        <div style="display: flex;">
          <mat-form-field style="padding-right: 1rem;">
            <mat-label>Number of Die:</mat-label>
            <input type="number" min="1" [(ngModel)]="dieNumberHTML" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Die Type:</mat-label>
            <mat-select [(value)]="dieTypeHTML">
              <mat-option [value]="4">d4</mat-option>
              <mat-option [value]="6">d6</mat-option>
              <mat-option [value]="8">d8</mat-option>
              <mat-option [value]="10">d10</mat-option>
              <mat-option [value]="12">d12</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Choose Plus Hit Bonus:</mat-label>
          <mat-select [(value)]="bonusHitValueHTML">
            <!-- <mat-option>None</mat-option> -->
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="6">6</mat-option>
            <mat-option [value]="7">7</mat-option>
            <mat-option [value]="8">8</mat-option>
            <mat-option [value]="9">9</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="15">15</mat-option>
          </mat-select>
        </mat-form-field>

        <br />

        <mat-form-field>
          <mat-label>Choose Plus Damage Bonus:</mat-label>
          <mat-select [(value)]="bonusDamageValueHTML">
            <!-- <mat-option>None</mat-option> -->
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="6">6</mat-option>
            <mat-option [value]="7">7</mat-option>
            <mat-option [value]="8">8</mat-option>
            <mat-option [value]="9">9</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="15">15</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <!--       </div>
      <div> -->
    <mat-card style="margin-top: 0.5rem;">
      <label>Barbarian Rage:</label>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Rage Damage Bonus:</mat-label>
          <mat-select [(value)]="bonusRageDamageValueHTML">
            <!-- <mat-option>None</mat-option> -->
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <!--           <mat-form-field> -->
        <label>Modification Info:</label>
        <br />
        <mat-checkbox [(ngModel)]="checkBless">Bless</mat-checkbox>
        <br />
        <mat-checkbox [(ngModel)]="checkBane">Bane</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>
  <!--     </mat-sidenav>
 -->
  <!-- ******************************************
******************************************
******************************************
****** Main Content Right Side ***********
******************************************
******************************************
****************************************** -->

  <!--     <mat-sidenav-content>
 -->
  <!--     <p>
      <button mat-raised-button color="accent" (click)="sidenav.toggle()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode"> -->
  <!-- <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button> -->
  <!--       </mat-radio-group>
    </p> -->
  <div class="center-data">
    <div class="center">
      <!-- <button
        class="navButton"
        mat-raised-button
        color="accent"
        (click)="sidenav.toggle()"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button> -->
      <div class="centerIMG">
        <img src="../../assets/heroimage.jpg" align="middle" />
        <br />
      </div>
    </div>

    <!--
    <button mat-raised-button color="warn" (click)="refractoredGetDamage()">
      TestButton
    </button>

    <div class="center" style="text-align: center;">
      <button
        style="margin: 2px;"
        mat-raised-button
        color="primary"
        (click)="d20Click($event)"
        type="button"
      >
        Regular D20 Roll
      </button>

      <button
        style="margin: 2px;"
        mat-raised-button
        color="primary"
        (click)="d20ClickAdvantage($event)"
        type="button"
      >
        Advantage D20 Roll
      </button>
      <br />
      <button
        style="margin: 2px;"
        mat-raised-button
        color="primary"
        (click)="multipleAttacksButton($event)"
        type="button"
      >
        Roll Multiple Attacks
      </button>
      <br />
    </div> -->

    <!-- <div>
      <table class="table table-bordered" style="text-align: center;">
        <ng-container>
          <th>#</th>
          <th>ID</th>
          <th>First D20</th>
          <th>Second D20</th>
          <th>Final D20</th>
          <th>Damage Dice</th>
          <th>Number of Attacks</th>
          <th>Damage Bonus</th>
          <th>Plus to Hit</th>
          <th>Total to Hit</th>
          <th>Total Damage</th>
        </ng-container>
        <tr
          *ngFor="let data of d20Array; let i = index"
          [ngClass]="{
            crit: data.FinalD20 === 20,
            miss: data.FinalD20 === 1,
            highlight: data.ID == selectedName
          }"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ data.ID }}</td>
          <td>{{ data.FirstD20 }}</td>
          <td>{{ data.SecondD20 }}</td>
          <td>{{ data.FinalD20 }}</td>
          <td title="{{ returnDamagePlusMod }}">{{ data.damageDie }}</td>
          <td>{{ data.numberofAttacks }}</td>
          <td>{{ data.damageBonus }}</td>
          <td>{{ data.plusToHit }}</td>
          <td>{{ data.totalPlustoHit }}</td>
          <td (click)="highlightRow(data)" (click)="subtractDamage(data)">
            {{ data.damageTotal }}
          </td>
        </tr>
      </table>
    </div> -->

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-stroked-button color="warn" (click)="onDel(row)">
            Delete
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.ID }} </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- First D20 Column -->
      <ng-container matColumnDef="First D20">
        <mat-header-cell *matHeaderCellDef> First D20 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.FirstD20 }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Second D20 Col -->
      <ng-container matColumnDef="Second D20">
        <mat-header-cell *matHeaderCellDef> Second D20 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.SecondD20 }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Final D20 Column -->
      <ng-container matColumnDef="Final D20">
        <mat-header-cell *matHeaderCellDef> Final D20 </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          title="First D20: {{ element.FirstD20 }} Second D20: {{
            element.SecondD20
          }}"
        >
          {{ element.FinalD20 }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Damage Die Column -->
      <ng-container matColumnDef="Damage Die">
        <mat-header-cell *matHeaderCellDef> Damage Die </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          title="{{ element.allDiceObjects }}"
        >
          {{ element.damageDie }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Number of Attacks Column -->
      <ng-container matColumnDef="Number of Attacks">
        <mat-header-cell *matHeaderCellDef> No. of Attacks </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.numberofAttacks }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Damage Bonus Column -->
      <ng-container matColumnDef="Damage Bonus">
        <mat-header-cell *matHeaderCellDef> Damage Bonus </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.damageBonus }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Plus to Hit Column -->
      <ng-container matColumnDef="Plus to Hit">
        <mat-header-cell *matHeaderCellDef> Plus to Hit </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.plusToHit }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Total Plus to hit Column -->
      <ng-container matColumnDef="Total Plus to Hit">
        <mat-header-cell *matHeaderCellDef> Total Hit Value </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          title="Bless: {{ element.bless }} - Bane: {{
            element.bane
          }} - Original Total Hit: {{ element.totalPlustoHit }}"
        >
          {{ element.totalPlustoHit + element.bless - element.bane }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <!-- Total Damage Total Column -->
      <ng-container matColumnDef="Damage Total">
        <mat-header-cell *matHeaderCellDef> Damage Total </mat-header-cell>
        <mat-cell
          [ngClass]="{
            crit: element.FinalD20 === 20,
            miss: element.FinalD20 === 1
          }"
          *matCellDef="let element"
        >
          {{ element.damageTotal }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
          {{ getTotalDamage() }}
        </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row
        *matFooterRowDef="displayedColumns; sticky: true"
      ></mat-footer-row>
    </mat-table>

    <!-- Bottom Information -->
    <div
      class="center"
      style="
        text-align: center;
        background-color: #5e548e;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
      "
    >
      <h2>Regular D20 Roll: {{ valueD20 }} plus {{ bonusHitValueHTML }}</h2>
      <h2>{{ valueD20Advantage }}</h2>
      <h2 style="margin-bottom: 0;">Total of all dice: {{ totalAllDamage }}</h2>
    </div>
  </div>
  <!--     </mat-sidenav-content>
 -->
  <!--     <mat-sidenav opened mode="side" position="end">
 -->
  <div class="right-data">
    <mat-card>
      <button mat-raised-button color="warn" (click)="testButton()">
        TestButton
      </button>
      <div>
        <div style="display: flex;">
          <button
            style="
              margin: 0.5rem;
              margin-left: 0;
              width: -webkit-fill-available;
              background: #4e74a8;
            "
            mat-raised-button
            color="primary"
            (click)="getRoll20Advantage('notAdvantage')"
            type="button"
          >
            Roll D20
          </button>
          <button
            style="
              margin: 0.5rem;
              margin-right: 0;
              width: -webkit-fill-available;
              background: #4d55a1;
            "
            mat-raised-button
            color="primary"
            (click)="getRoll20Advantage('advantage')"
            type="button"
          >
            Adv. Roll D20
          </button>
        </div>
        <div style="display: flex;">
          <button
            style="
              margin: 0.5rem;
              margin-left: 0;
              width: -webkit-fill-available;
              background: #4d55a1;
            "
            mat-raised-button
            color="primary"
            (click)="multipleAttacks('notAdvantage')"
            type="button"
          >
            Roll Multi Attack
          </button>
          <button
            style="
              margin: 0.5rem;
              margin-right: 0;
              width: -webkit-fill-available;
              background: #4e74a8;
            "
            mat-raised-button
            color="primary"
            (click)="multipleAttacks('advantage')"
            type="button"
          >
            Adv. Multi Attack
          </button>
        </div>
        <div style="display: flex;">
          <button
            style="
              margin: 0.5rem;
              margin-left: 0;
              margin-right: 0;
              width: -webkit-fill-available;
            "
            mat-raised-button
            color="warn"
            (click)="multipleAttacks('disAdvantage')"
            type="button"
          >
            Disadvantage Roll Multiple Attacks
          </button>
        </div>
      </div>
    </mat-card>

    <div
      style="
        text-align: center;
        background-color: #5e548e;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        border-radius: 4px;
      "
    >
      <h2>Regular D20 Roll: {{ valueD20 }} plus {{ bonusHitValueHTML }}</h2>
      <h2>{{ valueD20Advantage }}</h2>
      <h2 style="margin-bottom: 0;">Total of all dice: {{ totalAllDamage }}</h2>
    </div>
  </div>
  <!--     </mat-sidenav>
</mat-sidenav-container> -->
</div>
