<!DOCTYPE html>
<!-- <header>
  <div class="header">
    <a routerLink="/" class="logo">Dungeons & Dragons Helper</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/">Home</a>
        </li>
        <li>
          <a href="#" routerLink="/diceroller">Dice Roller</a>
        </li>
        <li>
          <a href="#" routerLink="/info">Information</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->
<!--
<mat-toolbar md-whiteframe="8" layout="row" class="example-container" color="primary">
  <mat-toolbar-row>
    <span>Dungeons & Dragons Helper</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>home</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item href="#" routerLink="/">Home</button>
      <button mat-menu-item href="#" routerLink="/diceroller">
        Dice Roller
      </button>
      <button mat-menu-item href="#" routerLink="/info">Information</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar> -->

<app-navagationbar></app-navagationbar>
<div>
  <span></span>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <app-diceroller></app-diceroller> -->
